Covid situation report.json
{
  "name": "Covid situation report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        0
      ],
      "id": "5ae2b16f-69b2-4be4-934d-34fd81796425",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\Vaishnavi\\.n8n-files\\covid19_data.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -272,
        0
      ],
      "id": "443a489f-0a69-40d3-a8f5-038ec5bc739d",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Extract all rows\nconst data = items.map(item => item.json);\n\n// Total calculations\nconst total_confirmed = data.reduce((sum, row) => sum + Number(row.confirmed || 0), 0);\nconst total_deaths = data.reduce((sum, row) => sum + Number(row.deaths || 0), 0);\nconst total_recovered = data.reduce((sum, row) => sum + Number(row.cured || 0), 0);\n\n// Active = confirmed - recovered - deaths\nconst active_cases = total_confirmed - total_recovered - total_deaths;\n\n// Latest date (for new cases)\nconst latestDate = data[data.length - 1]?.date;\n\n// Filter latest day data\nconst latestData = data.filter(row => row.date === latestDate);\n\n// New cases today\nconst new_cases_today = latestData.reduce((sum, row) => sum + Number(row.confirmed || 0), 0);\n\n// Recovery rate\nconst recovery_rate = ((total_recovered / total_confirmed) * 100).toFixed(2);\n\n// CFR\nconst cfr = ((total_deaths / total_confirmed) * 100).toFixed(2);\n\n// Final output\nreturn [{\n  json: {\n    report_date: new Date().toLocaleDateString('en-IN'),\n    case_metrics: {\n      total_confirmed,\n      total_deaths,\n      total_recovered,\n      active_cases,\n      new_cases_today,\n      recovery_rate,\n      cfr\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        0
      ],
      "id": "01bcae54-5442-4742-b5aa-061ffdc4baf6",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"max_tokens\": 500,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a public health officer for India. Write clear non-technical COVID situation reports.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a daily COVID report based on this data. Date: {{ $json.report_date }}. Total Confirmed: {{ $json.case_metrics.total_confirmed }}. Total Deaths: {{ $json.case_metrics.total_deaths }}. Active Cases: {{ $json.case_metrics.active_cases }}. New Cases Today: {{ $json.case_metrics.new_cases_today }}. Case Trend: {{ $json.case_metrics.case_trend }}. Recovery Rate: {{ $json.case_metrics.recovery_rate }}%. Positivity Rate: {{ $json.testing_metrics.avg_positivity_rate }}%. High Risk States: {{ $json.testing_metrics.high_risk_states }}. Write under 150 words in simple language.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        0
      ],
      "id": "7fee0b1d-3472-40e3-a382-05ecd6a613d6",
      "name": "HTTP Request",
      "credentials": {
        "groqApi": {
          "id": "hGxaLTk0iwiTvfKs",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vaishnavishakki19@gmail.com",
        "subject": "=Daily COVID Report — {{ $now.format('yyyy-MM-dd')}}",
        "message": "=<h2>🦠 Daily COVID-19 Situation Report</h2> <p><b>Date:</b> {{ $now.format('yyyy-MM-dd')}}</p> <hr/> <p>{{ $json.choices[0].message.content }}</p> <hr/> <p style=\"color:gray;font-size:11px\">   Auto-generated by COVID Monitoring System powered by Groq AI </p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "1cff0740-275b-4466-8ed1-92128817a12a",
      "name": "Send a message",
      "webhookId": "a4fe3055-ea0a-4d25-b392-b539caa01cd1",
      "credentials": {
        "gmailOAuth2": {
          "id": "uinocqEci7xCIs1f",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -64,
        0
      ],
      "id": "add79aab-d2c9-4491-95bf-a991216d099a",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "31853d54-fc4e-4753-bcc9-12da35b31312",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c177f67a598600685317f4fa77788ac7619ef69d5b3203e5efb51d970457e7f"
  },
  "id": "GwrezeRlk3LhQSbR",
  "tags": []
}